/* Notice that white band around our page? 
That’s a default margin/padding added by your browser.  */
/* It’s usually a good idea to override default styles 
to a predictable value using the “universal” CSS selector (*). */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

}
body {
    /*  text-align property, which aligns the content and 
    inline boxes inside of a block-level element */
    text-align: center;
}
h1, p {
    background-color: #DDE0E3;    /* Light gray */
  }
  
em, strong {
    background-color: #B2D6FF;    /* Light blue */
    display: inline;  /* This is the default for em and strong */
  }
h1 {
    padding: 50px;
    border-bottom: 1px solid #5D6063;
    /* border: 1px solid red */
}

p {
    padding: 20px 0 20px 10px;
    margin-top: 25px;
    margin-bottom: 50px;
}

strong { 
    margin: 50px;
}
.button{
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 200px;
    /* By default, it has a value of content-box,
     Let’s see what happens when we change it to border-box: */
     /* using border-box for all your boxes is considered a 
     best practice among modern web developers. */
     /* box-sizing: border-box; */
     /*When you set the left and right margin of a block-level 
     element to auto, it will center the block in its parent element. */
     margin: 20px auto; 
  }
